# Core
[submodule "core/pathogen"]
	path = core/pathogen
	url = https://github.com/tpope/vim-pathogen.git

# Indent
[submodule "indent/web-indent"]
	path = indent/web-indent
	url = https://github.com/lukaszb/vim-web-indent.git

# Plugins
[submodule "plugins/abolish"]
	path = plugins/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "plugins/ack"]
	path = plugins/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "plugins/bundler"]
	path = plugins/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "plugins/commentary"]
	path = plugins/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugins/css-color"]
	path = plugins/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/dispatch"]
	path = plugins/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "plugins/endwise"]
	path = plugins/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "plugins/eunuch"]
	path = plugins/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "plugins/file-line"]
	path = plugins/file-line
	url = https://github.com/bogado/file-line.git
[submodule "plugins/flex"]
	path = plugins/flex
	url = https://github.com/vim-scripts/Flex-Development-Support.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/gist"]
	path = plugins/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "plugins/gitgutter"]
	path = plugins/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/gnupg"]
	path = plugins/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "plugins/jshint2"]
	path = plugins/jshint2
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "plugins/matchit"]
	path = plugins/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/NrrwRgn"]
	path = plugins/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "plugins/obsession"]
	path = plugins/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "plugins/rake"]
	path = plugins/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "plugins/repeat"]
	path = plugins/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "plugins/rtf_pygmentize"]
	path = plugins/rtf_pygmentize
	url = https://github.com/rafaelfranca/rtf_pygmentize.git
[submodule "plugins/sbt"]
	path = plugins/sbt
	url = https://github.com/ktvoelker/sbt-vim.git
[submodule "plugins/snippets"]
	path = plugins/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "plugins/speeddating"]
	path = plugins/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "plugins/surround"]
	path = plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugins/taglist"]
	path = plugins/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "plugins/tbone"]
	path = plugins/tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "plugins/textobj-entire"]
	path = plugins/textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "plugins/textobj-function"]
	path = plugins/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "plugins/textobj-function-ruby"]
	path = plugins/textobj-function-ruby
	url = https://github.com/t9md/vim-textobj-function-ruby.git
[submodule "plugins/textobj-indent"]
	path = plugins/textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "plugins/textobj-line"]
	path = plugins/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "plugins/textobj-rubyblock"]
	path = plugins/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "plugins/textobj-user"]
	path = plugins/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "plugins/trailing-whitespace"]
	path = plugins/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "plugins/unimpaired"]
	path = plugins/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "plugins/ultisnips"]
	path = plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "plugins/vroom"]
	path = plugins/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "plugins/webapi"]
	path = plugins/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "plugins/zoomwin"]
	path = plugins/zoomwin
	url = https://github.com/regedarek/ZoomWin.git

# Langs
[submodule "langs/arduino"]
	path = langs/arduino
	url = https://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "langs/clojure"]
	path = langs/clojure
	url = https://github.com/guns/vim-clojure-static.git
[submodule "langs/coffeescript"]
	path = langs/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "langs/csv"]
	path = langs/csv
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "langs/cucumber"]
	path = langs/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "langs/elixir"]
	path = langs/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "langs/erlang"]
	path = langs/erlang
	url = https://github.com/jimenezrick/vimerl.git
[submodule "langs/git"]
	path = langs/git
	url = https://github.com/tpope/vim-git.git
[submodule "langs/golang"]
	path = langs/golang
	url = https://github.com/fatih/vim-go.git
[submodule "langs/haml"]
	path = langs/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "langs/haskell"]
	path = langs/haskell
	url = https://github.com/wlangstroth/vim-haskell.git
[submodule "langs/html5"]
	path = langs/html5
	url = https://github.com/othree/html5.vim.git
[submodule "langs/javascript"]
	path = langs/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "langs/less"]
	path = langs/less
	url = https://github.com/groenewege/vim-less.git
[submodule "langs/liquid"]
	path = langs/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "langs/markdown"]
	path = langs/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "langs/minitest"]
	path = langs/minitest
	url = https://github.com/sunaku/vim-ruby-minitest.git
[submodule "langs/mustache-handlebars"]
	path = langs/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "langs/nodejs"]
	path = langs/nodejs
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "langs/puppet"]
	path = langs/puppet
	url = https://github.com/ajf/puppet-vim.git
[submodule "langs/ragel"]
	path = langs/ragel
	url = https://github.com/jayferd/ragel.vim.git
[submodule "langs/rails"]
	path = langs/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "langs/rdoc"]
	path = langs/rdoc
	url = https://github.com/depuracao/vim-rdoc.git
[submodule "langs/rspec"]
	path = langs/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "langs/ruby"]
	path = langs/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "langs/rust"]
	path = langs/rust
	url = https://github.com/wting/rust.vim.git
[submodule "langs/scala"]
	path = langs/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "langs/scss"]
	path = langs/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "langs/slim"]
	path = langs/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "langs/textile"]
	path = langs/textile
	url = https://github.com/timcharper/textile.vim.git
