# Core
[submodule "core/pathogen"]
	path = core/pathogen
	url = https://github.com/tpope/vim-pathogen.git

# Indent
[submodule "indent/web-indent"]
	path = indent/web-indent
	url = https://github.com/lukaszb/vim-web-indent.git

# Plugins
[submodule "plugins/ack"]
	path = plugins/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "plugins/bundler"]
	path = plugins/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "plugins/css-color"]
	path = plugins/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/gist"]
	path = plugins/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "plugins/gitgutter"]
	path = plugins/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/matchit"]
	path = plugins/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/obsession"]
	path = plugins/obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "plugins/rake"]
	path = plugins/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "plugins/rtf_pygmentize"]
	path = plugins/rtf_pygmentize
	url = git://github.com/rafaelfranca/rtf_pygmentize.git
[submodule "plugins/surround"]
	path = plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/taglist"]
	path = plugins/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "plugins/tbone"]
	path = plugins/tbone
	url = git://github.com/tpope/vim-tbone.git
[submodule "plugins/tcomment"]
	path = plugins/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "plugins/textobj-entire"]
	path = plugins/textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "plugins/textobj-function"]
	path = plugins/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "plugins/textobj-function-ruby"]
	path = plugins/textobj-function-ruby
	url = https://github.com/t9md/vim-textobj-function-ruby.git
[submodule "plugins/textobj-indent"]
	path = plugins/textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "plugins/textobj-line"]
	path = plugins/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "plugins/textobj-rubyblock"]
	path = plugins/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "plugins/textobj-user"]
	path = plugins/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "plugins/unimpaired"]
	path = plugins/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "plugins/webapi"]
	path = plugins/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "plugins/zoomwin"]
	path = plugins/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git

# Langs
[submodule "langs/arduino"]
	path = langs/arduino
	url = https://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "langs/coffeescript"]
	path = langs/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "langs/csv"]
	path = langs/csv
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "langs/cucumber"]
	path = langs/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "langs/git"]
	path = langs/git
	url = https://github.com/tpope/vim-git.git
[submodule "langs/haml"]
	path = langs/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "langs/handlebars"]
	path = langs/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "langs/javascript"]
	path = langs/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "langs/markdown"]
	path = langs/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "langs/nodejs"]
	path = langs/nodejs
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "langs/ragel"]
	path = langs/ragel
	url = https://github.com/jayferd/ragel.vim.git
[submodule "langs/rails"]
	path = langs/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "langs/rspec"]
	path = langs/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "langs/ruby"]
	path = langs/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "langs/scala"]
	path = langs/scala
	url = https://github.com/rosstimson/scala-vim-support.git
[submodule "langs/scss"]
	path = langs/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "langs/textile"]
	path = langs/textile
	url = https://github.com/timcharper/textile.vim.git
