# Core
[submodule "core/pathogen"]
	path = core/pathogen
	url = https://github.com/tpope/vim-pathogen.git

# Indent
[submodule "indent/web-indent"]
	path = indent/web-indent
	url = https://github.com/garbas/vim-web-indent.git
